<p>add-user works!</p>

<mat-tab-group>
    <mat-tab label="personalData">
        <form [formGroup]="personalDataGroup" (ngSubmit)="onFormSubmit()">
            <div class="example-container">
                <mat-tab-group>
                    <mat-tab>
                        <mat-form-field appearance="fill">
                            <mat-label>NHC</mat-label>
                            <input matInput placeholder="Número de historia" formControlName="nhc">
                            <mat-error *ngIf="personalDataGroup.get('nhc').invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                        <!-- <mat-form-field hintLabel="Max 10 characters" appearance="fill">
                    <mat-label>Enter some input</mat-label>
                    <input matInput #input maxlength="10" placeholder="Ex. Nougat">
                    <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Select me</mat-label>
                    <mat-select>
                        <mat-option value="option">Option</mat-option>
                    </mat-select>
                    <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                </mat-form-field> -->
                    </mat-tab>
                </mat-tab-group>

            </div>
        </form>
    </mat-tab>
    <mat-tab label="address">
    </mat-tab>
    <mat-tab label="issurances">
    </mat-tab>
</mat-tab-group>
<button>Crear usuario</button>

<!-- <span *ngIf="!personalDataGroup.get('lastname').valid && personalDataGroup.get('lastname').touched" 
           class="help-block"> Please Enter Last Name (Minimum 2 Characters)</span> -->