<div id="list-users">
    <mat-tab-group class="tabs">
        <mat-tab label="users">
            <table mat-table [dataSource]="dataSourcePatients" class="mat-elevation-z0">
                <!-- NHC Column -->
                <ng-container matColumnDef="NHC">
                    <th mat-header-cell *matHeaderCellDef> NHC </th>
                    <td mat-cell *matCellDef="let element"> {{element.personalData.NHC}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.personalData.firstName}} {{element.personalData.lastName}} {{element.personalData.secondLastName}}</td>
                </ng-container>

                <!-- LastName Column -->
                <ng-container matColumnDef="NIF">
                    <th mat-header-cell *matHeaderCellDef> NIF </th>
                    <td mat-cell *matCellDef="let element"> {{element.personalData.NIF}}</td>
                </ng-container>

                <!-- action buttons -->
                <ng-container matColumnDef="Opciones">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon matTooltip="Ver" (click)="goToShowInfoUser('patient', element._id)">visibility</mat-icon>
                        <mat-icon matTooltip="Borrar" (click)="openDeleteDialog('patient', element._id)">delete</mat-icon>
                        <mat-icon matTooltip="Editar" (click)="goToEditUser('patient', element._id)">edit</mat-icon>
                        <!--[routerLink]="['/users/'+ element._id +'/edit']"-->
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsPatients"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsPatients;"></tr>
            </table>
            <div class="buttons">
                <button mat-raised-button (click)="goToCreateUser('patient')">Nuevo Paciente</button>
                <button mat-raised-button>Eliminar Pacientes</button>
            </div>
        </mat-tab>
        <!-- [routerLink]="['/users/new']" -->

        <mat-tab label="Profesionales">
            <table mat-table [dataSource]="dataSourceProfessionals" class="mat-elevation-z0">

                <!-- nº Column -->
                <ng-container matColumnDef="noColegiado">
                    <th mat-header-cell *matHeaderCellDef> Número de Colegiado </th>
                    <td mat-cell *matCellDef="let element"> {{element.personalData.medicalBoardNumber}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.personalData.firstName}} {{element.personalData.lastName}} {{element.personalData.secondLastName}} </td>
                </ng-container>

                <!-- LatName Column -->
                <!-- <ng-container matColumnDef="Apellido">
                    <th mat-header-cell *matHeaderCellDef> Apellidos </th>
                    <td mat-cell *matCellDef="let element"> {{element.personalData.lastName}}{{element.personalData.secondLastName}} </td>
                </ng-container> -->

                <!-- Professional Column -->
                <ng-container matColumnDef="Profesional">
                    <th mat-header-cell *matHeaderCellDef> Profesional </th>
                    <td mat-cell *matCellDef="let element"> {{element.personalData.professional}} </td>
                </ng-container>
                <!-- action buttons -->
                <ng-container matColumnDef="Opciones">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon matTooltip="Ver" (click)="goToShowInfoUser('professional', element._id)">visibility</mat-icon>
                        <!-- [routerLink]="['/users',element._id]"-->
                        <mat-icon matTooltip="Borrar" (click)="openDeleteDialog('professional', element._id)">delete</mat-icon>
                        <mat-icon matTooltip="Editar" (click)="goToEditUser('professional', element._id)">edit</mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsProfessionals"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsProfessionals;"></tr>
            </table>
            <div class="buttons">
                <button mat-raised-button (click)="goToCreateUser('professional')">Nuevo Profesional</button>
                <button mat-raised-button>Eliminar Profesionales</button>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>