$darkBlue:#2E6885;
$lightBlue: #80CEB8;
#list-users {
    display: grid;
    grid-template-rows: 5fr 1fr;
    table {
        width: 100%;
    }
    .tabs {
        width: 75vw;
        margin-left: auto;
        margin-right: auto;
        color: white;
        mat-tab-group {
            border: none;
        }
        mat-icon {
            cursor: pointer;
            color: $darkBlue;
        }
        .mat-tab-label {
            padding: 5px;
            color: white;
            font-weight: 700;
        }
        .mat-tab-header {
            background-color: $lightBlue;
        }
        .buttons {
            margin-top: 3vh;
        }
    }
    .buttons {
        background-color: white;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .mat-raised-button {
            background-color: $darkBlue;
            color: white;
            margin-right: 1vw;
        }
    }
}