<div id="user-info">
    <mat-card class="card-info">
        <mat-card-header>
            <mat-card-title>Datos Personales</mat-card-title>
            <mat-card-subtitle>{{user["personalData"]["firstName"]}} {{user["personalData"]["lastName"]}} {{user["personalData"]["secondLastName"]}}</mat-card-subtitle>
            <mat-card-subtitle>{{user["personalData"]["firstName"]}}</mat-card-subtitle>


        </mat-card-header>
        <mat-card-content>
            <p *ngIf="user.type==='patient'"><b>HHC(Número de historia clínica: </b> {{user["personalData"]["NHC"]}}</p>
            <p><b>Género: </b> {{user["personalData"]["gender"]}}</p>
            <p><b>NIF/Pasaporte: </b> {{user["personalData"]["NIF"]}}</p>
            <p><b>Fecha nacimiento:</b> {{user["personalData"]["birthdate"]}}</p>
        </mat-card-content>
    </mat-card>
    <mat-card class="card-info">
        <mat-card-header>
            <mat-card-title>Dirección</mat-card-title>
            <mat-card-subtitle>{{user["personalData"]["firstName"]}} {{user["personalData"]["lastName"]}} {{user["personalData"]["secondLastName"]}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p><b>Calle:</b> {{user["address"]["street"]}}, {{user["address"]["number"]}}, {{user["address"]["door"]}}</p>
            <p><b>CP(Código postal):</b> {{user["address"]["postalCode"]}}</p>
            <p><b>Ciudad:</b> {{user["address"]["city"]}}</p>
        </mat-card-content>
    </mat-card>
    <mat-card class="card-info">
        <mat-card-header>
            <mat-card-title>Seguros</mat-card-title>
            <mat-card-subtitle>{{user["personalData"]["firstName"]}} {{user["personalData"]["lastName"]}} {{user["personalData"]["secondLastName"]}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="issurance-div" *ngFor="let iss of user['issurances']; index as i">
                <p><b>Nombre:</b> {{iss["name"]}}</p>
                <p><b>Número de tarjeta:</b> {{iss["cardNumber"]}}</p>
                <p><b>Tipo:</b> {{iss["type"]}}</p>
            </div>
        </mat-card-content>
    </mat-card>
</div>