#edit-user {
    // display: grid;
    // grid-template-rows: 5fr 1fr;
    .tabs {
        width: 75vw;
        margin-left: auto;
        margin-right: auto;
        color: white;
        mat-tab-group {
            border: none;
        }
        .mat-tab-label {
            padding: 5px;
            color: white;
            font-weight: 700;
        }
        .mat-tab-header {
            background-color: #80CEB8;
        }
        .mat-form-field {
            padding-bottom: 3vh;
            color: #787878;
        }
        .personalData-container,
        .address-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            mat-form-field {
                padding-right: 5vw;
            }
        }
    }
    .mat-raised-button {
        background-color: #2e6885;
        color: white;
        margin-right: 1vw;
        margin-left: 40vw;
    }
}

@media(max-width: 774px) {
    #edit-user {
        .tabs {
            .personalData-container,
            .address-container {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}