<div id="edit-user">
    <form [formGroup]="userForm">
        <mat-tab-group class="tabs">
            <mat-tab formGroupName="personalData" label="Datos Personales">
                <div class="personalData-container">
                    <mat-form-field *ngIf="userType==='patient'" appearance="legacy" hintLabel="Max 10 characters">
                        <mat-label>NHC</mat-label>
                        <input matInput placeholder="Número de historia" formControlName="NHC">
                        <mat-error *ngIf="userForm.get('personalData.NHC').invalid">{{getFormErrorMessage('emptyValue')}}</mat-error>
                    </mat-form-field>
                    <mat-form-field *ngIf="userType==='professional'" appearance="legacy" hintLabel="Max 10 characters">
                        <mat-label>Número Colegiado</mat-label>
                        <input matInput placeholder="Número de colegiado" formControlName="medicalBoardNumber">
                        <mat-error *ngIf="userForm.get('personalData.medicalBoardNumber').invalid">{{getFormErrorMessage('emptyaValue')}}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="legacy">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="firstName">
                        <mat-error *ngIf="userForm.get('personalData.firstName').invalid">{{getFormErrorMessage('emptyValue')}}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="legacy">
                        <mat-label>Primer apellido</mat-label>
                        <input matInput formControlName="lastName">
                        <mat-error *ngIf="userForm.get('personalData.lastName').invalid">{{getFormErrorMessage('emptyValue')}}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="legacy">
                        <mat-label>Segundo apellido</mat-label>
                        <input matInput formControlName="secondSurname">
                    </mat-form-field>
                    <mat-form-field appearance="legacy">
                        <mat-label>Género</mat-label>
                        <mat-select formControlName="gender">
                            <mat-option value="femenino">Femenino</mat-option>
                            <mat-option value="masculino">Masculino</mat-option>
                            <mat-option value="otros">Otros</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="legacy">
                        <mat-label>NIF/Pasaporte</mat-label>
                        <input matInput formControlName="NIF">
                    </mat-form-field>
                    <mat-form-field appearance="legacy">
                        <mat-label>Fecha de nacimiento</mat-label>
                        <input matInput formControlName="birthdate">
                        <mat-hint>dd/mm/aaaa</mat-hint>
                        <mat-error *ngIf="userForm.get('personalData.birthdate').invalid">{{getFormErrorMessage("invalidFormat")}}</mat-error>
                    </mat-form-field>
                    <mat-form-field *ngIf="userType==='professional'" appearance="legacy">
                        <mat-label>Tipo de Profesional</mat-label>
                        <mat-select formControlName="professionalType">
                            <mat-option value="medico">Médico</mat-option>
                            <mat-option value="enfermero">Enfermero/a</mat-option>
                            <mat-option value="administrativo">Administrativo</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab label="address" formGroupName="address">
                <div class="address-container">
                    <mat-form-field appearance="legacy">
                        <mat-label>Calle</mat-label>
                        <input matInput formControlName="street">
                    </mat-form-field>
                    <mat-form-field appearance="legacy">
                        <mat-label>Número</mat-label>
                        <input matInput formControlName="number">
                    </mat-form-field>
                    <mat-form-field appearance="legacy">
                        <mat-label>Puerta</mat-label>
                        <input matInput formControlName="door">
                    </mat-form-field>
                    <mat-form-field appearance="legacy">
                        <mat-label>CP</mat-label>
                        <input placeholder="Código postal" matInput formControlName="postalCode">
                    </mat-form-field>
                    <mat-form-field appearance="legacy">
                        <mat-label>Ciudad</mat-label>
                        <input matInput formControlName="city">
                    </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab label="issurances" *ngIf="userType==='patient'" formArrayName="issurances">
                <div *ngFor="let iss of issurances.controls; index as i">
                    <div class="issurances-container" [formGroupName]="i">
                        <mat-form-field appearance="legacy">
                            <mat-label>Número de seguro</mat-label>
                            <input matInput formControlName="cardNumber">
                        </mat-form-field>
                        <mat-form-field appearance="legacy">
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="name">
                        </mat-form-field>
                        <mat-form-field appearance="legacy">
                            <mat-label>Tipo de Seguro</mat-label>
                            <mat-select formControlName="type">
                                <mat-option value="dental">Dental</mat-option>
                                <mat-option value="salud">Salud</mat-option>
                                <mat-option value="familia">Familia</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <button class="new-issurance-button" mat-raised-button (click)="addIssurances()">Añadir seguro</button>
            </mat-tab>
        </mat-tab-group>
        <div class="buttons">
            <button mat-raised-button (click)="onFormSubmit(userForm)">Editar usuario</button>
        </div>
    </form>
</div>